*{
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width:991px){
     .footer-content{
        text-align: center;
    }
}
@media only screen and (max-width:767px){
    .custom-header{
        text-align: center;
    }
    .custom-col{
        padding: 0 5%;
    }
    .custom-col .nav-link{
        height: auto; 
        margin-top: 10px;
    }
    .custom-col .footer-col-4-head{
        padding-top: 20px ;
    }


}

header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,f3f3f3+0,f3f3f3+3,e1e1e1+99,e1e1e1+99,e1e1e1+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #f3f3f3 0%, #f3f3f3 3%, #e1e1e1 99%, #e1e1e1 99%, #e1e1e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#f3f3f3 0%,#f3f3f3 3%,#e1e1e1 99%,#e1e1e1 99%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#f3f3f3 0%,#f3f3f3 3%,#e1e1e1 99%,#e1e1e1 99%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
    padding: 15px 0px;
}


.logo img{
    height: 45px;
    display: inline-block;
}

.search_custom{
    height: 50px;
}
.btn_custom{
    background-color: #225500;
    color: white;
    font-family: Myriad Pro;  
    height:50px;
    width: 60px;
}
::placeholder { 
    color:  #225500;
    opacity:  1;
    vertical-align: -webkit-baseline-middle;
 }

.main_nav{
    background-color: transparent;
    border: none;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #225500;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  } 
.basket{
display: inline-block;
text-decoration: none;
background-color: #e3e3e3;
padding-left:24px;
color: #225500; 
margin-top: 12px;
margin-right: 0;
}
.basket:hover{
    color: #225500;
    text-decoration: none;   
}
#basket{
    text-align: center;
    line-height: 45px;
     
    width: 57px;
    height: 45px;
    background-color: #225500;    
    display: inline-block;
}

.category{
    padding: 65px 0;
}
.heading{
    margin: 43px 0px;
    text-align: center;
    color: #225500
}
.austro-turf{    
    border: 13px solid #e5e5e5;
}

.new-product{
    display: block;
    width: 100%;
    height: auto;
}
.austro{
    text-align: center; 
    padding-bottom: 30px;
}
.custom-btn{
    background-color: #225500;
    border: 1px solid #225500;
    transition: all 0.3s;
}
.custom-btn:hover{
    background-color: transparent;
    color: #225500;
    font-weight: bold;
    border: 2px solid #225500;
    transition: all 0.3s;
}
.custom-btn:focus{
    background-color: #225500;
}
.whats-new{
    background-color: #e5e5e5;
    padding: 15px  15px 0;
}
.product-img{
    display: block;
    line-height: 245px;
    height: 245px;
    background-color: white;
    padding-top: 60px;
}
.product-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.add-to-cart{
    padding: 20px 0;
}
.description{
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 0 30px;
}
.add-to-cart a{
    text-decoration: none;
    color: #225500;
    font-weight: bold;
}

.grass{

    margin-top: 25px;
    margin-bottom: 90px;
    background-image: url(../images/grass.jpg);
    padding-top: 22%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:  45px; 
}


.subscribe{
margin-left: auto;
margin-right: auto;

border-bottom: 1px solid white;
width: 100%;
max-width: 430px;
position: relative;

}
#email-box{
    border: none;
    padding: 5px 70px 5px 5px; 
    background-color: transparent;
    color: white;
    font-family: Cambria;
    width: 100%;
    max-width: 430px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 70px;

}
input:focus{
    outline: none;
}
input[id^="email-box"]::placeholder { 
    color:white;
    opacity : 3;
}
#submit-btn{
    top: 0;
    bottom: 0;
    right: 0;   
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    margin-right: 5px;
    font-family: Cambria;
}

.custom-col{
    margin-left: 0;
    
}
.footer-top-head{
    font-size: 25px;
    color: white;
    margin-top: 12px;    
}
.footer-top-head span{
    font-size: 50px;
    font-weight: bold;
}
.footer-top-content{
    color: white;
    margin: 6px 0;
}
.footer-top-img{
    padding-top: 15px ;
}
.footer-top-download{
    padding: 10px 0 45px 0;
}
.custom-download-btn{
    background-color: #46a406;
    height: 45px;
    width: 120px;
}
.footer-heading{
    color: white;
    font-size: 30px;
    padding: 16px 0;
    font-weight: bold;
}
.footer-ul  a{
    color: white;
    transition: all 0.3s;
    text-decoration: none;
}
.footer-ul a:hover{
    padding-left: 15px;
    transition: all 0.3s;
}
.footer-ul li {
    padding-bottom: 10px;
}
.nav-link  {
    color: white;
   
    height: 395px;
    margin: 0;
    /* padding-bottom:20px; */
}

.footer-col-4-head{
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
.footer-col-4-head span{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-col-4-address{
    color: white;
    padding: 12px 0;
}
.footer-col-4-contact{
    color: white;
    padding: 10px 0;
}
footer{
    background-image: url("../images/nav-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#web-hosted{
    float: right;
}
.footer{ 
    border-top: 1px solid white;
    /* padding:35px 0; */
    color: white;
    padding: 0;
    /* margin-top: 20px; */
    padding-top: 35px;
    padding-bottom: 25px;
}
