<!-- <app-course></app-course> -->
<!-- <app-courses></app-courses>
<app-favorite [isFavorite] = 'post.isFavorite' (change) = 'onFavoriteChange($event)'></app-favorite> -->
<!-- <bootstrap-panel>
  <ng-container class="head">
    Heading
  </ng-container>
  <div class="body">
    <h2>body</h2>
    <p>content</p>
  </div>
</bootstrap-panel> -->

<!-- ngIF directive -->

<!-- <div *ngIf="course.length > 0; then listOfCourse else noCourse"></div>

<ng-template #listOfCourse>
    LIst of courses
</ng-template>

<ng-template #noCourse>
    No course
</ng-template> -->

<!-- ngSwitch -->

<!-- <ul class="nav nav-pills">
    <li [class.active] ="viewMode == 'map'"><a  href="#" (click) = "viewMode='map'">Map View</a></li>
    <li [class.active] ="viewMode == 'list'"><a  href="#" (click) = "viewMode='list'">List view</a></li>
</ul>
<div [ngSwitch] = "viewMode">
    <div *ngSwitchCase = "'map'">Map viei content</div>
    <div *ngSwitchCase = "'list'">List view content</div>
    <div *ngSwitchDefault>other wise</div>
</div> -->

<!-- <button (click)="loadCourses()">load</button>
<ul>
    <li *ngFor="let item of courses; trackBy:trackCourse ">
        {{ item.title }} 
      
    </li>    

</ul>

<span >{{task.assignee?.name}} </span> -->

<!-- Custom directive -->
<!-- <input type="text" [appInputFormat] = "'upperCase'"> -->

<!-- form handling -->
<!-- <app-contact-form></app-contact-form> -->

<!-- <signup-form></signup-form>
<app-new-course-form></app-new-course-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<app-posts></app-posts>








