<form [formGroup]="form">
  <div class="form-group">
    <label for="">Uusername</label>
    <input formControlName = 'username'  type="text" class="form-control">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required" class="alert alert-danger">username is required</div>
      <div *ngIf="username.errors.minlength" >minlength is {{ username.errors.minlength.requiredLength }}</div>
      <div *ngIf="username.errors.cannotContainSpace" >cannot contain space</div>

    </div>
  </div>
  <div>
    <label for="">password</label>
    <input class="form-control" type="text">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
